---
import SponsorLoop from "./SponsorLoop";
import SponsorSlider from "./SponsorSlider";
---

<div class="flex flex-col h-screen w-full">

    <!-- HACKSCATE Title Section -->
    <section class="flex flex-col items-center justify-center px-12 flex-1">
        <h1 class="text-[4rem] tablet:text-[8rem] desktop:text-[12rem] font-bold font-width-wide text-foreground text-center leading-none">
            HACKSCATE
        </h1>

        <div class=" max-w-4xl w-full">
            <SponsorLoop client:load />
        </div>
    </section>

    <!-- Sponsor Slider Section -->
    <div class="w-full pb-16">
        <SponsorSlider client:load />
    </div>
</div>
