/* Import external dependencies */
@import 'tailwindcss';

/* Import our CSS components */
@import './variables.css';
@import './base.css';
@import './theme.css';
@import './utilities.css';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}