---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <main
        class="bg-background min-h-screen flex flex-col items-center justify-center p-8 text-primary"
    >
        <h1 class="text-5xl font-bold mb-4">404 - Página no encontrada</h1>
        <p class="text-xl">Lo sentimos, la página que buscas no existe.</p>
    </main>
</Layout>
