---
import Layout from "@layouts/Layout.astro";
---

<Layout title="FAQ">
    <main class="bg-background flex justify-center h-screen items-center">
        <h1 class="text-4xl text-primary">FAQ</h1>
    </main>
</Layout>
