---
import Layout from "@layouts/Layout.astro";
---

<Layout title="WIP">
    <main class="bg-black flex flex-col h-screen items-center justify-center">
        <h1 class="text-5xl md:text-7xl text-white text-shadow-[0_0_40px_rgb(19_141_255/0.6),0_0_80px_rgb(19_141_255/0.4)]">Hackscate</h1>
        <p class="text-2xl md:text-4xl text-gray-400 text-shadow-[0_0_30px_rgb(19_141_255/0.5),0_0_60px_rgb(19_141_255/0.3)]">Work in progress</p>
    </main>
</Layout>
