---
import Layout from "@layouts/Layout.astro";
---

<Layout title="WIP">
    <main class="bg-black flex flex-col h-screen items-center justify-center">
        <h1 class="text-5xl md:text-7xl text-white">Hackscate</h1>
        <h2 class="text-4xl md:text-6xl text-gray-400">Work in progress</h2>
    </main>
</Layout>
