---
import Layout from "@/layouts/Layout.astro";
import Sidebar from "@/components/sponsors/Sidebar.astro";
import NumberedCard from "@/components/sponsors/NumberedCard.astro";
import SponsorshipTable from "@/components/sponsors/SponsorshipTable.astro";

const sections = [
    { id: "introduction", title: "About us" },
    { id: "hackscate-event", title: "The Event" },
    { id: "attendee-profile", title: "Our Attendee Profile" },
    { id: "prospective-matrix", title: "Prospective Matrix" },
];

const sponsorshipLevels = {
    title: "Unique Sponsorship Level",
    price: "$500 USD",
    benefits: [
        { name: "Recognition at Opening Ceremony" },
        { name: "Logo on Website" },
        { name: "Social Media Promotion" },
        { name: "Send Mentors/Company Representatives" },
        { name: "Access to Attendee Database" },
        { name: "On-site Brand Activation" },
    ],
};
---

<Layout title="Sponsors">
    <div
        class="flex min-h-screen px-5 md:px-5 xl:px-40 text-[#D9D9D9] bg-[#111111]"
    >
        <div
            class="hidden lg:inline p-6 border-r sticky top-0 h-screen overflow-y-auto min-w-60"
        >
            <Sidebar list_items={sections} />
        </div>
        <main
            class="flex-1 flex flex-col gap-15 md:px-20 lg:px-0 lg:pl-10 lg:max-w-2xl xl:max-w-4xl [&>section]:flex [&>section]:flex-col [&>section]:gap-4 [&>section]:p-6"
        >
            <section id="introduction">
                <h1 class="text-4xl font-bold mb-4">About us</h1>
                <p>
                    Open Source UC (OSUC) is the student tech-innovation
                    community of Pontificia Universidad Católica de Chile (UC).
                </p>

                <p>
                    Since 2006, we have driven innovation projects from students
                    to students.
                </p>

                <p>Today, we want to expand our impact alongside Hackscate.</p>
            </section>
            <section id="hackscate-event" class="relative">
                <h1 class="text-4xl font-bold mb-4">The Event</h1>
                <p>
                    The Event Hackscate will be the place for students - across
                    careers and levels - to build a tech product together.
                </p>

                <p>
                    The event will focus on the student community at UC-Chile;
                    we expect 70 innovators at our venue, Centro de Extensión,
                    Campus Oriente, UC-Chile.
                </p>

                <p>Hackscate will be taking place Friday, December 5th</p>
                <div class="grid grid-cols-2 p-6 border-2 rounded-xl">
                    <a
                        href="https://centrodeextension.uc.cl/en/nuestros_centros/centro-de-extension-campus-oriente/"
                        class="hover:scale-105 transition-transform"
                        ><img
                            src="https://www.uc.cl/site/assets/files/11631/oriente.jpg"
                            alt=""
                            width="350px"
                        /></a
                    >
                    <div
                        class="flex flex-col w-full justify-center items-center"
                    >
                        <a
                            href="https://centrodeextension.uc.cl/en/nuestros_centros/centro-de-extension-campus-oriente/"
                            class="hover:underline decoration-1"
                        >
                            <h2 class="text-2xl font-bold">
                                Centro de Extensión
                            </h2>
                        </a>
                        <p class="font-bold">Campus Oriente, PUC</p>
                    </div>
                </div>
            </section>
            <section id="attendee-profile">
                <h1 class="text-4xl font-bold mb-4">Our Attendee Profile</h1>
                <ol class="flex flex-col gap-4 list-none">
                    <NumberedCard
                        number={1}
                        title="Eager to learn and try new products"
                        description="Our attendees are early adopters who actively seek out cutting-edge tools and technologies. As we have seen with previous sponsors like GitHub, ~70% of students jumped to try GitHub Copilot."
                    />
                    <NumberedCard
                        number={2}
                        title="Builders and Problems-Solvers"
                        description="They're collaborative hands-on developers who transform ideas into working prototypes in 9 hours."
                    />
                    <NumberedCard
                        number={3}
                        title="Soon to graduate"
                        description="Most attendees are in their final years of study, with strong academic backgrounds and hands-on project experience. ~40% are actively seeking internships or full-time roles."
                    />
                </ol>
            </section>
            <section id="prospective-matrix">
                <h1 class="text-4xl font-bold mb-4">Prospective Matrix</h1>
                <SponsorshipTable levels={sponsorshipLevels} />
            </section>
            <section id="contact">
                <h1 class="text-4xl font-bold mb-4">Contact Us</h1>
                <p>
                    If you have any questions or inquiries, feel free to reach
                    out to us <a
                        href="mailto:coord@osuc.dev"
                        class="text-[#138DFF]">coord@osuc.dev</a
                    >!
                </p>
            </section>
        </main>
    </div>
</Layout>
