---
import HackscateIcon from "./icons/HackscateIcon.astro";
---

<header class="bg-transparent text-primary fixed w-dvw p-4 z-50" role="banner">
    <div class="esquina-cortada bg-white p-0.5">
        <div
            class="relative bg-black flex px-6 py-3 justify-between overflow-hidden esquina-cortada items-center"
        >
            <nav class="flex items-center" aria-label="Navegación principal">
                <a
                    href="/"
                    class="flex items-center gap-2"
                    aria-label="Ir al inicio - Hackscate"
                >
                    <HackscateIcon className="size-6 md:size-10" />
                </a>
                <ul
                    class="flex text-lg gap-8 [&>li]:flex [&>li]:items-center pl-8 [&>li>a]:font-semibold [&>li>a]:text-lg"
                >
                    <li><a href="/" aria-current="page">Inicio</a></li>
                    <li><a href="/sponsors">Sponsors</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </nav>
            <a
                href="#"
                class="text-black bg-white pl-4 pr-3 py-1 esquina-cortada font-semibold"
                role="button"
                aria-label="Proximamente inscripciones">REGISTRATION SOON</a
            >
        </div>
    </div>
</header>
