---
import HackscateIcon from "./icons/HackscateIcon.astro";
---

<nav
    class="bg-background text-primary fixed top-0 p-3 flex justify-between w-dvw"
>
    <a href="/" class="flex items-center gap-2">
        <HackscateIcon className="size-10" />
    </a>
    <ul class="flex text-lg gap-4">
        <li><a href="/">Inicio</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
    </ul>
</nav>
